#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}

body {
    font-family: 'Happy Monkey', cursive;
    background-color: #d6cbd3;
}

.banner {
    font-size: 90px;
    color: #6b5b95;
}

#number-submit {
    color: #80ced6;
}